{% extends "base.twig" %}

{% block title %}Album | PixSalle{% endblock %}

{% block content %}
    <h1>{{album}}</h1>
    {% for photo in photos %}
        <img src="{{photo.img}}" alt="Album photo" height="400" />
        <br>
    {% endfor %}
{% endblock %}