{% extends "base.twig" %}

{% block header %}
  <header>
    <div id="navbar">
      <ul>
        <li><a href="/">About Us</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/user/membership">Membership</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/user/wallet">Wallet</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>
  </header>
{% endblock %}