<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
      <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/styles.css"/>
    {% endblock %}

  </head>
  <body>
    <!-- NAV BAR -->
    <header>
      <div class="container">
        <a href="">LogIn</a>
        <a href="">SignIn</a>
        <a href="">Wallet</a>
        <a href="">Membership</a>
        <a href="">Explore</a>
        <a href="">Portfolio</a>
      </div>
    </header>

    <!-- Body -->
    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <div class = "copyright">
        <p>Copyright ©2022-2030 PixSalle</p>
      </div>
    </footer>
  </body>
</html>