{% extends "base.twig" %}

{% block title %}User Profile | PixSalle{% endblock %}

{% block content %}
    <h1>Change password</h1>
    <form action="{{ formAction }}" method="POST">
        <label for="oldPassword"> Old password:</label>
        <br>
        <input type="oldPassword" name="oldPassword">
        {% if formErrors['oldPassword'] %}
            <br>
            <p>{{ formErrors['oldPassword'] }}</p>
        {% endif %}
        <br>
        <br>
        <label for="newPassword"> New password:</label>
        <br>
        <input type="newPassword" name="newPassword">
        {% if formErrors['newPassword'] %}
            <br>
            <p>{{ formErrors['newPassword'] }}</p>
        {% endif %}
        <br>
        <label for="confirmPassword"> Confirm password:</label>
        <br>
        <input type="confirmPassword" name="confirmPassword">
        {% if formErrors['confirmPassword'] %}
            <br>
            <p>{{ formErrors['confirmPassword'] }}</p>
        {% endif %}
        <br>
        <br>
        <input type="submit" value="Save changes">
    </form>
    <br>
    <a href="/profile/changePassword">Reset Password</a>
{% endblock %}