{% extends "base.twig" %}

{% block title %}User Profile | PixSalle{% endblock %}

{% block content %}
    <h1>Change password</h1>
    <form action="{{ formAction }}" method="POST">
        <label for="oldPassword"> Old password:</label>
        <br>
        <input type="password" name="oldPassword">
        <br>
        <br>
        <label for="newPassword"> New password:</label>
        <br>
        <input type="password" name="newPassword">
        <br>
        <label for="confirmPassword"> Confirm password:</label>
        <br>
        <input type="password" name="confirmPassword">
        {% if formError %}
            <p>{{ formError }}</p>
        {% endif %}
        <br>
        <br>
        <input type="submit" value="Save changes">
    </form>
    {% if done %}
        <p>{{ done }}</p>
    {% endif %}
{% endblock %}