{% extends "base.twig" %}

{% block title %}Home | PixSalle{% endblock %}

{% block content %}
<section class="container">
    <section class="item">
        <h2>About Us</h2>
        <p>
            PixSalle is a new platform where students can freely showcase their work and express themselves through photography.
            This web application will allow them to be members, explore photos posted by other photographers and picture editors,
            view resources that they can use to improve their work and contribute to the knowledge sharing within the community through blogs.
        </p>
    </section>
    <section class="item">
        <h2>How did we start</h2>
        <p>
            The Student Council of La Salle saw that a lot of students are passionate about photography. They have posted their amazing photos
            on various social media accounts. To help the students develop their skills and inspire them to be professional photographers one day,
            the professors proposed to create a Photography web application. That's why we developed PixSalle.
        </p>
    </section>
    <section class="item">
        <h2>What make us different</h2>
        <h3>Grow as a photographer</h3>
        <p>
            Get immediate exposure with your first upload. Our Pulse algorithm surfaces new photographs and photographers, ensuring your photos
            are seen by the community so that you receive valuable feedback on day one.
        </p>
        <h3>Build your career</h3>
        <p>
            Market yourself as a professional photographer. Show that you're available for hire on your Profile and get discovered in Search results,
            showcase your articles, presents, videos, and more with Resources, and create a Portfolio website to showcase your work.
        </p>
    </section>
</section>
{% endblock %}