{% extends "base_in.twig" %}

{% block title %}Memberships | PixSalle{% endblock %}

{% block content %}
<h1>Memberships</h1>
<form action="{{ formAction }}" method="POST">
	<input type="radio" id="cool" name="membership" value="cool" {% if current == "cool" %}checked{% endif %}>
	<label for="cool">Cool</label><br>
	<input type="radio" id="active" name="membership" value="active" {% if current == "active" %}checked{% endif %}>
	<label for="active">Active</label><br><br>

	<input type="submit" value="Change">
</form>
{% if errors is not empty %}
    <ul class="errors">
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}