{% extends "base_in.twig" %}

{% block title %}Portfolio | PixSalle{% endblock %}

{% block content %}
    <h2>Portfolio Empty!</h2>
    {% if membership == "active" %}
        <form action="{{ formAction }}" method="POST">
            <p>Album Name: </p>
            <input type="text" id="name" name="name">
            <input type="submit" value="Create" />
        </form>
    {% endif %}
{% endblock %}